<?xml version="1.0" encoding="utf-8"?>
<Project>
  <PropertyGroup>
    <LastUsedTargetFramework>net10.0</LastUsedTargetFramework>
    <TargetFramework>net10.0</TargetFramework>
    <LastUsedRuntimeIdentifier>osx-x64</LastUsedRuntimeIdentifier>
    <RuntimeIdentifier>osx-x64</RuntimeIdentifier>
  </PropertyGroup>
  <Import Project="$(MSBuildThisFileDirectory)FolderProfile.Common.props" />
</Project>
