<?xml version="1.0" encoding="utf-8"?>
<Project>
  <PropertyGroup>
    <LastUsedTargetFramework>net11.0-windows</LastUsedTargetFramework>
    <TargetFramework>net11.0-windows</TargetFramework>
    <LastUsedRuntimeIdentifier>win-x64</LastUsedRuntimeIdentifier>
    <RuntimeIdentifier>win-x64</RuntimeIdentifier>
  </PropertyGroup>
  <Import Project="$(MSBuildThisFileDirectory)FolderProfile.Common.props" />
</Project>
